/*
  *sty;es/global.css
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

:root {
  --header-height: 48px;
  --page-padding-default: 32px;
  --page-max-width: 1200px;
  --page-padding-left: max(env(safe-area-inset-left), var(--page-padding-default));
  --page-padding-right: max(env(safe-area-inset-right), var(--page-padding-default));
  --page-padding-y: 120px;
  --prose-max-width: 588px;
  --grid-columns: 12;
  --grid-column-gap: 24px;
  --layer-debug: 5100;
  --layer-skip-nav: 5000;
  --layer-tooltip: 1100;
  --layer-toasts: 800;
  --layer-dialog: 700;
  --layer-dialog-overlay: 699;
  --layer-command-menu: 650;
  --layer-popover: 600;
  --layer-context-menu: 600;
  --layer-overlay: 500;
  --layer-header: 100;
  --layer-scrollbar: 75;
  --layer-footer: 50;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --font-monospace: ui-monospace, "SF Mono", "Menlo", monospace;
  --font-regular: "Linear", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
  --font-weight-regular: 400;
  --font-weight-medium: 510;
  --font-weight-semibold: 590;
  --font-weight-bold: 680;
  --speed-highlightFadeIn: 0s;
  --speed-highlightFadeOut: 0.15s;
  --speed-quickTransition: 0.1s;
  --speed-regularTransition: 0.25s;
  --mask-visible: #000;
  --mask-ease: rgba(0, 0, 0, .2);
  --mask-invisible: transparent;
  --rounded-full: 9999px;
  --transparent: hsla(0, 0%, 100%, 0);
  --min-tap-size: 44px;
  --dvh: 1vh;
  --svh: 1vh;
  --scrollbar-color: hsla(0, 0%, 100%, .2);
  --scrollbar-color-active: hsla(0, 0%, 100%, .4);
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --mauve-light-1: #fdfcfd;
  --mauve-light-2: #f9f8f9;
  --mauve-light-3: #f4f2f4;
  --mauve-light-4: #eeedef;
  --mauve-light-5: #e9e8ea;
  --mauve-light-6: #e4e2e4;
  --mauve-light-7: #dcdbdd;
  --mauve-light-8: #c8c7cb;
  --mauve-light-9: #908e96;
  --mauve-light-10: #86848d;
  --mauve-light-11: #6f6e77;
  --mauve-light-12: #1a1523;
  --mauve-dark-1: #161618;
  --mauve-dark-2: #1c1c1f;
  --mauve-dark-3: #232326;
  --mauve-dark-4: #28282c;
  --mauve-dark-5: #2e2e32;
  --mauve-dark-6: #34343a;
  --mauve-dark-7: #3e3e44;
  --mauve-dark-8: #504f57;
  --mauve-dark-9: #706f78;
  --mauve-dark-10: #7e7d86;
  --mauve-dark-11: #a09fa6;
  --mauve-dark-12: #ededef;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #4ea7fc;
  --color-red: #eb5757;
  --color-green: #4cb782;
  --color-orange: #f2994a;
  --focus-ring-color: var(--color-brand-bg);
  --focus-ring-width: 2px;
  --focus-ring-offset: 2px;
  --focus-ring-outline: var(--focus-ring-width) solid var(--focus-ring-color);
  --pointer: pointer
}

[data-theme=dark] {
  color-scheme: dark;
  --color-bg-primary: var(--mauve-dark-1);
  --color-bg-secondary: var(--mauve-dark-2);
  --color-bg-tertiary: var(--mauve-dark-3);
  --color-bg-quaternary: var(--mauve-dark-4);
  --color-bg-quinary: var(--mauve-dark-5);
  --color-border-primary: var(--mauve-dark-5);
  --color-border-secondary: var(--mauve-dark-6);
  --color-border-tertiary: var(--mauve-dark-7);
  --color-text-primary: #f7f8f8;
  --color-text-secondary: #d0d6e0;
  --color-text-tertiary: #8a8f98;
  --color-text-quaternary: #62666d;
  --color-link-primary: #828fff;
  --color-link-hover: #fff;
  --color-brand-bg: #5e6ad2;
  --color-brand-text: #fff;
  --color-selection-text: #fff;
  --color-selection-bg: #4f52b4;
  --color-selection-dim: #4f52b499;
  --color-overlay-dim-rgb: 255, 255, 255;
  --color-overlay-primary: rgba(0, 0, 0, .4);
  --shadow-low: 0px 2px 4px rgba(0, 0, 0, .1);
  --shadow-medium: 0px 4px 24px rgba(0, 0, 0, .2);
  --shadow-high: 0px 7px 32px rgba(0, 0, 0, .35);
  --scrollbar-color: hsla(0, 0%, 100%, .2);
  --scrollbar-color-active: hsla(0, 0%, 100%, .4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=glass] {
  color-scheme: dark;
  --color-bg-primary: #000212;
  --color-bg-secondary: hsla(0, 0%, 100%, .03);
  --color-bg-tertiary: hsla(0, 0%, 100%, .07);
  --color-bg-quaternary: hsla(0, 0%, 100%, .15);
  --color-bg-quinary: hsla(0, 0%, 100%, .2);
  --color-border-primary: hsla(0, 0%, 100%, .08);
  --color-border-secondary: hsla(0, 0%, 100%, .12);
  --color-border-tertiary: hsla(0, 0%, 100%, .15);
  --color-text-primary: #f7f8f8;
  --color-text-secondary: #b4bcd0;
  --color-text-tertiary: #b4bcd099;
  --color-text-quaternary: #b4bcd066;
  --color-link-primary: #828fff;
  --color-link-hover: #fff;
  --color-brand-bg: #5e6ad2;
  --color-brand-text: #fff;
  --color-selection-text: #fff;
  --color-selection-bg: #4f52b4;
  --color-selection-dim: #4f52b499;
  --color-overlay-dim-rgb: 255, 255, 255;
  --color-overlay-primary: rgba(0, 0, 0, .4);
  --shadow-low: 0px 2px 4px rgba(0, 0, 0, .1);
  --shadow-medium: 0px 4px 24px rgba(0, 0, 0, .2);
  --shadow-high: 0px 7px 32px rgba(0, 0, 0, .35);
  --scrollbar-color: hsla(0, 0%, 100%, .2);
  --scrollbar-color-active: hsla(0, 0%, 100%, .4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=light] {
  color-scheme: light;
  --color-bg-primary: #fff;
  --color-bg-secondary: var(--mauve-light-2);
  --color-bg-tertiary: var(--mauve-light-3);
  --color-bg-quaternary: var(--mauve-light-4);
  --color-bg-quinary: var(--mauve-light-5);
  --color-border-primary: var(--mauve-light-5);
  --color-border-secondary: var(--mauve-light-6);
  --color-border-tertiary: var(--mauve-light-7);
  --color-text-primary: #282a30;
  --color-text-secondary: #3c4149;
  --color-text-tertiary: var(--mauve-light-11);
  --color-text-quaternary: var(--mauve-light-10);
  --color-link-primary: #7070ff;
  --color-link-hover: #8989f0;
  --color-brand-bg: #7070ff;
  --color-brand-text: #fff;
  --color-selection-text: var(--color-brand-text);
  --color-selection-bg: #7070ff;
  --color-selection-dim: #7070ff99;
  --color-overlay-dim-rgb: 0, 0, 0;
  --color-overlay-primary: hsla(0, 0%, 100%, .65);
  --shadow-low: 0px 1px 4px -1px rgba(0, 0, 0, .09);
  --shadow-medium: 0px 3px 12px rgba(0, 0, 0, .09);
  --shadow-high: 0px 7px 24px rgba(0, 0, 0, .06);
  --font-weight-regular: 400;
  --font-weight-medium: 510;
  --font-weight-semibold: 590;
  --font-weight-bold: 680;
  --scrollbar-color: rgba(0, 0, 0, .1);
  --scrollbar-color-active: rgba(0, 0, 0, .3);
  --icon-grayscale-image-filter: grayscale(100%) brightness(0%)
}